# ---------------------------------------------------------------
# 1. Service Account
# ---------------------------------------------------------------
# 1.1. Service Account 
# ---------------------------------------------------------------
resource "google_service_account" "{{ project_name }}-service-account" {
  account_id = "{{ project_name }}"
  display_name = "{{ display_name }} Service Account"
}

# ---------------------------------------------------------------
# 1.2. Service Account Roles
# ---------------------------------------------------------------
resource "google_project_iam_member" "{{ project_name }}-role-secretmanagedaccessor" {
    project = var.gcp_pid
    role = "roles/secretmanager.secretAccessor"
    member = format("serviceAccount:%s", google_service_account.{{ project_name }}-service-account.email)
}
resource "google_project_iam_member" "{{ project_name }}-role-gcs" {
    project = var.gcp_pid
    role = "roles/storage.admin"
    member = format("serviceAccount:%s", google_service_account.{{ project_name }}-service-account.email)
}
resource "google_project_iam_member" "{{ project_name }}-role-pubsub" {
    project = var.gcp_pid
    role = "roles/pubsub.publisher"
    member = format("serviceAccount:%s", google_service_account.{{ project_name }}-service-account.email)
}
# ---------------------------------------------------------------
# 2. Artifact Repository
# ---------------------------------------------------------------
resource "google_artifact_registry_repository" "{{ project_name }}-registry" {
    location = var.gcp_region
    repository_id = "{{ project_name }}"
    format = "DOCKER"
    description = "{{ display_name }} Artifact Registry"
    labels = {
        "created_by" = "terraform"
        "project" = var.gcp_pid
    }
}

# ---------------------------------------------------------------
# 3. Github environment secrets & variables
# ---------------------------------------------------------------
# NOTE: The repository name below must match your GitHub repo name.
resource "github_repository_environment" "{{ project_name }}-github-environment" {
    repository = "{{ project_name }}"
    environment = var.gcp_pid
}
resource "github_actions_environment_secret" "{{ project_name }}-bucket-envsecret" {
    repository = "{{ project_name }}"
    environment = var.gcp_pid
    secret_name = "BACKUP_BUCKET"
    plaintext_value  = google_storage_bucket.backup-bucket.name
}
resource "github_actions_environment_secret" "{{ project_name }}-secret-cicdsakey" {
    repository = "{{ project_name }}"
    environment = var.gcp_pid
    secret_name = "CICD_SERVICE_ACCOUNT"
    plaintext_value = jsonencode(jsondecode(base64decode(google_service_account_key.toto-cicd-sa-key.private_key)))
}
resource "github_actions_environment_variable" "{{ project_name }}-var-pid" {
    repository = "{{ project_name }}"
    environment = var.gcp_pid
    variable_name = "GCP_PID"
    value = var.gcp_pid
}
resource "github_actions_environment_secret" "{{ project_name }}-secret-service-account" {
    repository = "{{ project_name }}"
    environment = var.gcp_pid
    secret_name = "SERVICE_ACCOUNT"
    plaintext_value = google_service_account.{{ project_name }}-service-account.email
}

# ---------------------------------------------------------------
# 4. Google Secret Manager (Secrets)
# ---------------------------------------------------------------
{% if needs_mongodb %}
variable "{{ mongo_var_prefix }}_mongo_user" {
    description = "Mongo User for {{ project_name }}"
    type = string
    sensitive = true
}
variable "{{ mongo_var_prefix }}_mongo_pswd" {
    description = "Mongo Password for {{ project_name }}"
    type = string
    sensitive = true
}
resource "google_secret_manager_secret" "{{ project_name }}-mongo-user" {
    secret_id = "{{ project_name }}-mongo-user"
    replication {
        auto { }
    }
}
resource "google_secret_manager_secret_version" "{{ project_name }}-mongo-user-version" {
    secret = google_secret_manager_secret.{{ project_name }}-mongo-user.id
    secret_data = var.{{ mongo_var_prefix }}_mongo_user
}
resource "google_secret_manager_secret" "{{ project_name }}-mongo-pswd" {
    secret_id = "{{ project_name }}-mongo-pswd"
    replication {
        auto { }
    }
}
resource "google_secret_manager_secret_version" "{{ project_name }}-mongo-pswd-version" {
    secret = google_secret_manager_secret.{{ project_name }}-mongo-pswd.id
    secret_data = var.{{ mongo_var_prefix }}_mongo_pswd
}
{% endif %}

# ---------------------------------------------------------------
# 5. Cloud DNS & Domain Mapping
# ---------------------------------------------------------------

# ---------------------------------------------------------------
# 6. PubSub Subscriptions to events
# ---------------------------------------------------------------
