name: Production Release

on:
  push:
    branches: 
      - 'release/**'

jobs:
  # This workflow contains a single job called "release"
  release:
    name: Build & Deploy to Cloud run
    environment: totolive
    runs-on: ubuntu-latest

    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Authenticate to Artifact Registry
      run: |
        echo '{% raw %}${{ secrets.CICD_SERVICE_ACCOUNT }}{% endraw %}' > ./credentials.json
        gcloud auth activate-service-account --key-file=./credentials.json
        gcloud auth configure-docker europe-west1-docker.pkg.dev

    - name: Create Environment Variables
      run: |
        export PACKAGE_VERSION=$(cat package.json | grep version | head -1 | awk -F: '{ print $2 }' | sed 's/[",]//g' | tr -d '[[:space:]]')
        export PACKAGE_NAME=$(cat package.json | grep name | head -1 | awk -F: '{ print $2 }' | sed 's/[",]//g' | tr -d '[[:space:]]')
        echo "PACKAGE_NAME=$PACKAGE_NAME" >> $GITHUB_ENV
        echo "PACKAGE_VERSION=$PACKAGE_VERSION" >> $GITHUB_ENV

    - name: Build Docker image
      run: |
        docker build . -t europe-west1-docker.pkg.dev/{% raw %}${{ vars.GCP_PID }}{% endraw %}/{% raw %}${{env.PACKAGE_NAME}}{% endraw %}/{% raw %}${{env.PACKAGE_NAME}}{% endraw %}:{% raw %}${{env.PACKAGE_VERSION}}{% endraw %}
 
    - name: Push Docker image to Dockerhub 
      run: |
        docker push europe-west1-docker.pkg.dev/{% raw %}${{ vars.GCP_PID }}{% endraw %}/{% raw %}${{env.PACKAGE_NAME}}{% endraw %}/{% raw %}${{env.PACKAGE_NAME}}{% endraw %}:{% raw %}${{env.PACKAGE_VERSION}}{% endraw %}
    
    - name: Setup GCloud 
      uses: google-github-actions/setup-gcloud@v0
      with:
        project_id: {% raw %}${{ vars.GCP_PID }}{% endraw %}
        service_account_key: {% raw %}${{ secrets.CICD_SERVICE_ACCOUNT }}{% endraw %}
        export_default_credentials: true
    
    - name: Deploy image
      run: | 
        gcloud run deploy {% raw %}${{env.PACKAGE_NAME}}{% endraw %} --set-env-vars "HYPERSCALER=gcp,SERVICE_BASE_URL={% raw %}${{ secrets.SERVICE_BASE_URL }}{% endraw %},GALE_BROKER_URL={% raw %}${{ secrets.GALE_BROKER_URL }}{% endraw %},GCP_PID={% raw %}${{ vars.GCP_PID }}{% endraw %}" --service-account={% raw %}${{ secrets.SERVICE_ACCOUNT }}{% endraw %} --project={% raw %}${{ vars.GCP_PID }}{% endraw %} --image=europe-west1-docker.pkg.dev/{% raw %}${{ vars.GCP_PID }}{% endraw %}/{% raw %}${{env.PACKAGE_NAME}}{% endraw %}/{% raw %}${{env.PACKAGE_NAME}}{% endraw %}:{% raw %}${{env.PACKAGE_VERSION}}{% endraw %} --platform=managed --region=europe-west1 --allow-unauthenticated
